:root {
  --yellow: #ffdc6f;
  --yellow-accent: linear-gradient(to right, #ffe8a2, #ffc519);
  --red: #eb5353;
  --black: #212121;
  --black-lighten-1: #757575;
  --black-lighten-2: #bdbdbd;
  --black-lighten-3: #e0e0e0;
  --black-lighten-4: #fbfbfb;
  --white: #ffffff;

  color: var(--black);

  font-size: 10px;

  --z-index--header: 5;
  --z-index--modal: 10;
  --z-index--overlay: 100;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
